select {
  font-size: 0.9rem;
  padding: 0.2rem;
}

.inline {
  display: inline;
  font-size: 0.9rem;
}

button {
  font-size: 0.9rem;
  background-color: #2875af;
  color: white;
  border-radius: 3px;
  padding: 0.5rem 0.7rem;
  border: 0;
}

button:hover {
  opacity: 0.9;
}

#editorStyle {
  min-width: 300px;
  min-height: 500px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 37px 37px 0;
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
  background-color: mediumseagreen;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}
